@charset "utf-8";
body h1  {
    color: #C27FFC;
}

.key {
    color: #F9F9F9;
    background-color: #9650ED;
}
body  {
    background-image: url(leaf.jpg);
    color: #FFFFFF;
    font-size: 36px;
}
